body{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #ffffff;
    color: white;
}

header{
    padding: 0px 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em calc((100vw-1280px)/2);
    background: #1e1e68;
}

header h1{
    color: #ffffff;
    align-items: center;
}

main{
    max-width: 1500px;
    margin:35px auto;
    background: #ebecf0; 
    padding: 20px;
    box-sizing: border-box;
    border-style: outset;
    border-radius: 15px;
    overflow-x: auto;
    /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);*/
}
.card{
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 500px;
    height: 450px;
    background-color: #8990a0;
    border-radius: 15px;
    border-style: outset;
}

nav ul{
    list-style: none ;
    margin: 0;
    padding:0;
    display: flex;
    gap: 5px;
}

table{
    width: 100%;
    max-width: 100%;
    table-layout: auto;
    border-collapse: separate;
}
table th,
table td{
    padding: 6px 10px;
    max-width: 100%;
    white-space: normal; 
    overflow-wrap: break-word; 
}
table th{
    background: #000;
    text-align: center;
}
td{
    max-width: 1000px;
    text-align: center;
}

table tbody tr td{
    background: #ffffff;
    color: #000;
}


table td a{
    text-decoration: none;  
    color: rgb(205, 212, 0);
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header a{
    display: block;
    font-size: 1.1em;
    padding: 6px 20px;
    border-radius: 5px;
    background: #2c76d6;
    color: white;
    text-decoration: none;
    font-weight: bold;
    
}

.titulo{
    color: #ffb937;
    text-align: center;
    text-shadow: 1px 1px 1px black;
    -webkit-text-stroke: 1px  rgb(163, 125, 14);
    font-size: 30px;
}

form > div{
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centro los elementos horizontalmente */
}


form > div > label {
    width: 300px;
    text-align: center; /* Centro el texto del label */
    color: #000;
}

form > div > label + * {
    width: 600px;
    height: 30px;
    padding: 6px 10px;
    border: 1px solid #1b2152;
    border-radius: 10px;
    margin-top: 10px; /* Espacio entre el label y el input */
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    padding-top: 35px;
    cursor: pointer;
}

.boton-editar{
    text-align: center;
    width: 200px;
    height: 70px;
    padding: 6px 20px;
    border-radius: 5px;
    background: #436446;
    color: white;
}
.boton-eliminar{
    
    width: 70px;
    padding: 6px 20px;
    border-radius: 5px;
    background: #ce0f28;
    color: white;
}

button[type=submit]{
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 1.1em;
    padding: 6px 20px;
    border-radius: 5px;
}

button[type=button]{
    text-align: center;
    font-size: 18px;
    padding: 5px 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.1em;
    padding: 6px 20px;
    border-radius: 5px;
}

button[type=button].boton-cancelar{
    width: 200px;
    height: 50px;
    background: #ce0f0f;
    color: white;
}

button[type=button].boton-cancelarUser{
    width: 150px;
    height: 40px;
    background: #ce0f0f;
    color: white;
}

button[type=submit].boton-agregar{
    width: 200px;
    height: 50px;
    background: #436446!important;
    color: white;
}

button[type=submit].boton-buscar{
    width: 100px;
    height: 45px;
    background: #3d3d3d!important;
    color: white;
}

button[type=button].boton-logout{
    width: 100px;
    height: 45px;
    background:#ffb937;
    color: black;
}

.boton-login{
    width: 150px;
    height: 40px;
    background: #436446;
    color: white;
}

.acciones{
    display: flex;
    justify-content: space-around;
    font-weight: 500;
}

label {
    font-weight: 900;
}

.titulo-login{
    color: #1e1e68;
}

.titulo-users{
    margin-top: 0px;
    color: #1e1e68;
}

.inputs{
    width: 280px;
}
.input-buscar{
    width: 400px;
    height: 45px;
    border-radius: 5px;
    padding: 0px 15px;
}
.form-buscar{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 25px;
}

.ancho-columna{
    width: 10%;
}

.ancho-columna:nth-child(2){
    width: 15%;
}
.ancho-columna:nth-child(3){
    width: 20%;
}

.ancho-columna:nth-child(4){
    width: 15%;
}

.ancho-columna:nth-child(5){
    width: 10%;
}

.ancho-columna:nth-child(6){
    width: 10%;
}

.ancho-columna:nth-child(7){
    width: 20%;
}

.alto-columna{
    height: 70px;
}